<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	</configSections>
	<quartz>
		<add key="quartz.scheduler.instanceName" value="quartzScheduler"/>
		<add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz"/>
		<add key="quartz.threadPool.threadCount" value="10"/>
		<add key="quartz.threadPool.threadPriority" value="2"/>
		<add key="quartz.jobStore.misfireThreshold" value="60000"/>
		<add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz"/>
		<add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz"/>
		<add key="quartz.plugin.xml.scanInterval" value="60"/>
		<add key="quartz.plugin.xml.fileNames" value="~/jobs/quartz_jobs.xml"/>
	</quartz>
	<!--正式环境配置文件-->
	<appSettings configSource="App_Code\Config.xml"/>
	<!--测试环境配置文件-->
	<!--<appSettings configSource="App_Code\Config_Test.xml"/>-->
	<system.web>
		<!--设置网站全局 ASP.NET 页的字符编码格式-->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
		<!--默认错误页设置-->
		<customErrors defaultRedirect="Err.html" mode="RemoteOnly">
			<!--特殊代码编号的错误从定向文件-->
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="FileNotFound.htm"/>
		</customErrors>
		<compilation targetFramework="4.5" debug="true"/>
		<httpRuntime targetFramework="4.5" requestValidationMode="2.0"/>
		<pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</httpModules>
		<sessionState mode="InProc" timeout="120"/>
		<!--<sessionState mode="Custom" customProvider="RedisSessionStateStore" timeout="120">
			<providers>
				<add name="RedisSessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider"
					 applicationName="web"
					 throwOnError="true"
					 host="101.200.49.244"
					 port="6379"
					 accessKey="redis#mengshi@2017"
					 databaseId="10"
					 ssl="false"/>
			</providers>
		</sessionState>-->
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
	<runtime>

	</runtime>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
</configuration>