.upload{width: 400px;height: 75px;border: solid 1px #004792;margin: 10px 0px;padding: 10px 25px;background-color: #F0F8FF;}
.upload H3{margin:0;padding-bottom:5px;font-size:14px;}        
.upload IFRAME{text-align:center;vertical-align:middle;border-style:none;margin:0px;width:100%;height:30px;}
#status, .commands{ height:25px; line-height:25px; }
.upload .commands{ float:right; }
.hidden { display:none; }        
#status { float:left; }
#status.error{ color:Red;}
#status.info{ color:#333;}
#status.success{ color:green;}

/*-多张图片显示效果-*/
.msg_contr{}